.App {
  text-align: center;
  color: aliceblue;
  /* tabs background-color: #d1d0ce; */
}
#card1 {
  transition: border-radius 0.2s;
  background-color: white;
  background: radial-gradient(rgb(80, 78, 92) 16px, transparent 16px),
    rgb(22, 14, 51);
  background-size: 60px 60px;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}
#card2 {
  transition: border-radius 0.2s;
  background-color: white;
  background: radial-gradient(rgb(80, 78, 92) 16px, transparent 16px),
    rgb(22, 14, 51);
  background-size: 60px 60px;
  animation-name: moveInRight;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}
#card3 {
  /* background: linear-gradient(-45deg, #14152d 25%, transparent 50%, #14152d 25%)
      16px 0,
    linear-gradient(45deg, #171d2c 25%, transparent 50%, #787ce5 25%), black; */
  background: linear-gradient(rgb(80, 78, 92), rgb(80, 78, 92));
  background-size: 30px 30px;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

#card4 {
  background: linear-gradient(rgb(80, 78, 92), rgb(80, 78, 92));
  background-size: 30px 30px;
  /* transform: scaleX(-1); */
  animation-name: moveInRight;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}
.about-section {
  /* background: url(https://picsum.photos/id/1031/500/400) no-repeat;
  background-size: cover; */
  /* background-image: linear-gradient(to right, rgb(89 97 116), #e6e3de); */
  /* animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; */
  margin-top: 100px;
}
.role > h1 {
  color: aliceblue;
  /* font-family: "Montserrat Medium"; */
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 7s forwards cubic-bezier(0.5, 1, 0.89, 1);
  /* animation-duration: 6s; */
  animation-delay: 20s;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* margin-top: 8vh; */
}

.ant-tabs-content-holder {
  flex: auto;
  min-width: 0;
  /* min-height: 100vh; */
  /* background-image: linear-gradient(to right, rgb(89 97 116), #e6e3de); */
  height: 100vh;
  background: #14152e;
  color: aliceblue;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  background: #14152e;
  color: aliceblue;
  margin: 0 !important;
}
ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px) scaleX(-1);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px) scaleX(-1);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.role > h1 > span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin: 0 4px;
}

.role > h1 > span:nth-child(1) {
  animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.role > h1 > span:nth-child(2) {
  animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.role > h1 > span:nth-child(3) {
  animation: fade-in 1s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.info {
  margin: 10%;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.projects {
  margin: 5%;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.block {
  padding: 10px;
  border: 2px solid white;
  color: #fff;
  text-align: center;
  height: 300px;
  margin: 10px;
}
